:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: var(--font-size-lg);
}

h2 {
  font-size: var(--font-size-md);
}

p {
  font-size: var(--font-size-sm);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
list-style-type: none;
}

nav ul li a:link,
nav ul li a:visited {
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

nav ul li a:hover {
  color: red;
  text-decoration: none;
  list-style-type: none;
} 

#dough-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

nav ul li {
  padding-left: 1.25em;
  text-transform: uppercase;
}

#valentines-section {
  display: flex;
  padding-top: 3em;
}

.grid-2 div {
  padding: 0;
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-areas: 
    "item1 item2"
    "item3 item4";
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

#item-1 {
  grid-area: item1;
}

#item-2 {
  grid-area: item2;
}

#item-3 {
  grid-area: item3;
}

#item-4 {
  grid-area: item4;
}

#valentines-copy {
padding-left: 2em;
}

#valentines-copy h1 {
  margin: 0;
}

.limited {
  text-transform: uppercase;
  font-weight: bold;
}

.flavour {
  font-size: var(--font-size-m);
}

.last {
  margin-bottom: 4em;
}

.cart { 
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
}

#behind-dough {
  padding: 3em;
}

#behind-dough h2 {
  text-align: center;
}

.behind-para {
  display: flex;
}

.behind-para p {
  width: 50%;
  padding-right: 2em;
}

#people-saying {
  background-color: #000000;
  color: #ffffff;
  padding: 3em;
}

#people-saying h2 {
  text-align: center;
}

article {
  padding-left: 1em;
}

article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#quotes {
  display: flex;
}

#try-with {
  padding: 2em;
}

#try-with h2 {
  text-align: center;
}

.try-it {
  display: flex;
}

.name {
  font-weight: bold;
}

.name-price {
  background-color: #ECECEC;
  margin: auto 0;
  text-align: center;
  padding: 3em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  text-align: center;
  padding: 3em;
}

.grey-line {
  border-top: 1px solid #ececec;
}

/* 960px */
@media (min-width: 60em) {
  .wrapper {
  max-width: 900px;
  margin: 0 auto;
  }

  h1 {
    font-size: var(--font-size-md);
  }

  h2 {
    font-size: var(--font-size-base);
  }

  blockquote {
    width: 30%;
  }

  .name-price {
    padding: 1em;
  }

}

/* 768px */
@media (min-width: 48em) {
  #valentines-section {
  display: block;
  }

  #valentines-copy {
    padding-top: 2em;
  }

    .name-price {
    padding: 0.5em;
  }

}

/* 400px (mobile) */
@media (min-width: 25em) {

}


